/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fondo general */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0d47a1, #9100c1);
    color: #333;
    line-height: 1.6;
}

/* Encabezado */
header {
    background: #0a304d;
    color: white;
    padding: 15px 20px;
    position: sticky;
    top: 0;
}

header h1 {
    margin-bottom: 10px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 15px;
    justify-content: center;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #80deea;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    text-align: center;
}

/* Secciones */
section {
    margin: 40px 0;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
/*certificados*/
.certificado-card {
  padding: 15px;
  max-width: 600px;
  margin: 20px auto;
  background: #f0f8ff;
  border-radius: 8px;
}

.certificado-card h3 {
  margin: 10px 0;
  color: #003366;
}

.certificado-card a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

/* Grid */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/* videos */
.grid-videos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 20px;
  justify-items: center;
}

.grid-videos figure {
  width: 100%;
  max-width: 500px;
  background: #fafafa;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  text-align: center;
}

.grid-videos video {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 8px;
}

/* Estilo especial para video vertical */
.grid-videos .vertical video {
  height: 400px;
  object-fit: contain; /* para que no se recorte */
}

.destacada {
  flex: 1 1 500px; /* más ancho que las demás */
}

.destacada img {
  width: 110%;
  max-width: 400px;
  height: auto;
}

/* Tarjetas */
.card {
    background: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    width: 250px;
    text-align: left;
}

.card1 {
    background: #f0f8ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    width: 930px;
    text-align: center;
}

.card a {
  text-decoration: none;
  color: inherit;
}

/* Galería */
figure {
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

figure img, video {
    width: 250px;
    border-radius: 6px;
}

/* Footer */
footer {
    background: #0a304d;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #80deea;
    text-decoration: none;
}